USE [SMSDBNEW]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 2/5/2026 11:14:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[DateOfBirth] [datetime] NOT NULL,
	[Course] [int] NOT NULL,
	[MobileNumber] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Students] ON 

INSERT [dbo].[Students] ([Id], [Name], [Email], [DateOfBirth], [Course], [MobileNumber]) VALUES (1, N'Anil Patil', N'an@gmail.com', CAST(N'2025-02-04 00:00:00.000' AS DateTime), 3, N'8796489335')
INSERT [dbo].[Students] ([Id], [Name], [Email], [DateOfBirth], [Course], [MobileNumber]) VALUES (3, N'Anil Patil', N'anil@gmail.com', CAST(N'1999-01-01 00:00:00.000' AS DateTime), 3, N'8796489335')
INSERT [dbo].[Students] ([Id], [Name], [Email], [DateOfBirth], [Course], [MobileNumber]) VALUES (4, N'Pravin Kamble', N'pr@gmail.com', CAST(N'2000-09-09 00:00:00.000' AS DateTime), 0, N'9090908989')
SET IDENTITY_INSERT [dbo].[Students] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Students__A9D10534E4DA620A]    Script Date: 2/5/2026 11:14:38 PM ******/
ALTER TABLE [dbo].[Students] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
